blinker>=1.8.2,<2.0
click==8.1.7
Flask>=2.3.3,<3.1.0
Flask-Login==0.6.3
Flask-WTF>=1.0,<2.0
itsdangerous>=2.2.0,<3.0
Jinja2>=3.1.4,<4.0
MarkupSafe>=3.0.2,<4.0
prompt_toolkit==3.0.48
wcwidth==0.2.13
Werkzeug>=3.0,<4.0
WTForms>=3.0,<4.0

